.footer {
    width: 100%;
    height: auto;
    flex-direction: column;
    bottom: 0;
    left: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif; 
    text-shadow: chocolate;
    background-color: black;
    color: chartreuse;
    text-align: center;
    /* margin: 15px; */
    /* padding: 4px; */
    justify-content: center;
    align-items: center;
}