<div class="d-flex container-fluid footer">
	<p>Proyecto Integrador Argentina Programa | "Yo Programo2" | Portafolio/CV Personal. | </p>
	<p>Backend hecho en Java con Spring framework | Frontend hecho en TypeScript con Angular framework.</p>
	<p>2023 © HERNAN CANESTRARO</p>
	<a href="mailto:hernancanestraro.dev@gmail.com">
		<p>Enviar un Email a: hernancanestraro.dev@gmail.com</p>
	</a>
	<button mat-raised-button color="primary" (click)="abrirDialog()">Info</button>
	<p>Gracias por usar la aplicación!!!</p>
</div>