<div class="d-flex flex-direction-column navbar shadow">
	<div class="d-flex container-fluid align-items-center justify-content-center">
		<a href="https://argentinaprograma.inti.gov.ar" target="_blank" class="nav-link active">
			<img class="logointi" src="https://drive.google.com/uc?download&id=1YpESKuvXAUsP1TcJ-laFQlsmOKAf8VkP"
				alt="INTI...">
		</a>
	</div>
	<div class="d-flex container-fluid align-items-center justify-content-center w-50">
		<p class="fw-bold ms-3 mt-3">Proyecto Integrador</p>
	</div>
	<div class="d-flex container-fluid align-items-center justify-content-center">
		<a href="https://github.com/HCanestraro" target="_blank" class="nav-link active" rel="noreferrer noopener">
			<img class="logos" src="https://drive.google.com/uc?export=download&id=1YFszfvj_-afq1bH9tsXXF8zrDOQvHxo-
			" alt="Picture...">
		</a>
		<a href="https://instagram.com/@canestraro-che" target="_blank" class="nav-link active"
			rel="noreferrer noopener">
			<img class="logos" src="https://drive.google.com/uc?export=download&id=13jp0SW_F2WCL5qAiRhDlZWXHoUMlN2gR
			" alt="Picture...">
		</a>
		<a href="https://www.twitter.com/@canestraro-che" target="_blank" class="nav-link active"
			rel="noreferrer noopener">
			<img class="logos" src="https://drive.google.com/uc?export=download&id=1BXwyUpUm_AnXnh4-xIIUv8gdvYOU0quV
			" alt="Picture...">
		</a>
		<a href="https://ar.linkedin.com/in/hernan-canestraro-44448435" target="_blank" class="nav-link active"
			rel="noreferrer noopener">
			<img class="logos" src="https://drive.google.com/uc?export=download&id=1tDmdALAhhy9kS6edRWUqDgt4QJUuXaMd
			" alt="Picture...">
		</a>
		<a href="https://sites.google.com/view/HCanestraro" target="_blank" class="nav-link active"
			rel="noreferrer noopener">
			<img class="logos" src="https://drive.google.com/uc?export=download&id=1NuIu3CYzCAZ_F34TH6zXTdHo1-BiP-GP
			" alt="Picture...">
		</a>
		<a href="https://www.youtube.com/@HCanestraro" target="_blank" class="nav-link active"
			rel="noreferrer noopener">
			<img class="logos" src="https://drive.google.com/uc?export=download&id=1Fi4F7MzyrKIAIkK3bdNSeZ3oNjb5ly11
			" alt="Picture...">
		</a>
	</div>
	<div class="d-flex container-fluid align-items-center justify-content-center">
		<div *ngIf="portfolioActive===true">
			<!-- <div *ngIf="usuarioLogueado"> -->
			<!-- <p>{{userAlias}}</p>
			<img *ngIf="imagenPerfil | async" [src]="imagenPerfil | async" alt="Imagen de perfil" class="logos"> -->
			<button (click)="logout()" class=" btn btn-dark rounded  btn-md w-100 text-white fw-bold shadow-lg"
				routerLink="/login">TERMINAR
				EDICIÓN</button>
			<!-- </div> -->
		</div>
		<div *ngIf="portfolioActive===false">
			<button class="btn btn-info border border-info text-white fw-bold fw-bold shadow ms-3"
				routerLink="/register">Registrarse</button>
			<button class="btn btn-info text-white fw-bold shadow-lg" routerLink="/login">Login</button>
		</div>
	</div>
</div>