<h2 mat-dialog-title>{{ data ? 'Editar Softskill' : 'Crear Softskill' }}</h2>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Nombre" [(ngModel)]="data.name" name="name" required>
  </mat-form-field>
  <input type="file" (change)="onFileSelected($event)">
  <ng-container *ngIf="data.urlImage">
    <img [src]="data.urlImage" alt="Preview" class="preview-image">
  </ng-container>
  <mat-form-field>
    <input matInput type="number" placeholder="Nivel" [(ngModel)]="data.level" name="level" required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancelar</button>
  <button mat-button color="primary" (click)="dialogRef.close(data)">Guardar</button>
</div>
