<!--------------- image-gallery--------------->
<div class="d-flex container shadow bg-info">
	<div class="row mt-5">
		<h5 class="text-center p-1 bg-dark text-light rounded border p-2">IMAGE GALLERY</h5>
	</div>
	<!-- <div class="justify-content-center p-2">
		<div class="image-gallery">
			<div class="image-gallery">
				<div *ngFor="let image of lst" class="image-card" (click)="selectImage(image)">
				  <img class="cheimg" [src]="image.url" [alt]="image.name" />
				  <p>{{ image.name }}</p>
				</div>
			  </div>
			  
			  <div *ngIf="selectedImage" class="selected-image">
				<h3>Imagen seleccionada:</h3>
				<img [src]="selectedImage.url" [alt]="selectedImage.name" />
				<p>{{ selectedImage.name }}</p>
			  </div>
			  
	</div> -->
	<!-- <form [formGroup]="form">
		<mat-form-field>
		  <input matInput placeholder="Name" formControlName="name">
		  <mat-error *ngIf="form.controls.name.hasError('required')">La descripción es requerida</mat-error>
		</mat-form-field>
		
		<input type="file" (change)="selectImage($event)">
		<img [src]="image?.url" *ngIf="image">
		
		<button mat-raised-button color="primary" [disabled]="form.invalid">Guardar</button>
	  </form>
	   -->
	  
	  
	  
</div>