<!-- *********************** Ingresar ********************** -->
<!-- <app-navbar></app-navbar>

<div class="d-flex container form-container mat-elevation-z5">
	<div class="d-flex container-flex flex-direction-row align-items-center justify-content-center border shadow">
		<h1>Login</h1> -->
		<!-- <script> console.log( personaemail()); </script> -->
		<!-- <p>Auth! {{ (auth.user | async)?.uid | json }}			{{ (auth.credential | async)?.additionalUserInfo.isNewUser | json | undefined }}		</p> -->
		<!-- <button (click)="login()" *ngIf="showLoginButton">Log in with Google</button> -->
		<!-- <button (click)="loginAnonymously()" *ngIf="showLoginButton">Log in anonymously</button> -->
		<!-- <button (click)="logout()" *ngIf="showLogoutButton">Log out</button> -->
	<!-- </div> -->

	<!-- <div *ngIf="auth.user | async as user; else showLogin">
		<h1>Hello {{ user.displayName }}!</h1>
		<button (click)="logout()">Logout</button>
	</div>
 -->
	<!-- 	<ng-template #showLogin>
		<p>Please login.</p>
		<button (click)="login()">Login with Google</button>
	</ng-template>
 -->

 	<!-- <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title" id="loginModalLabel">Accede a tu cuenta</h1>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<form #FormularioLogin="ngForm" (ngSubmit)="login(FormularioLogin)">
						<div class="form-group">
							<input type="email" name="email" class="form-control" placeholder="Introduzca email" ngModel>
							<label for="Usuario" class="form-label">Usuario</label>
						</div>
						<div class="form-group">
							<input type="password" name="password" class="form-control" placeholder="Introduzca contraseña" ngModel>
							<label for="Password" class="form-label">Contraseña</label>
						</div>
						<button class="btn btn-primary btn-block mb-4" style="background: purple;">Iniciar sesión</button>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

	</div> -->
	<!-- <form>
		<mat-form-field>
			<input matInput placeholder="Email address" formControlName="email" id="email" />
			<mat-icon></mat-icon>
			<mat-error *ngIf="email?.errors?.['required']">
				Email address is required
			</mat-error>
			<mat-error *ngIf="email?.errors?.['email']">
				Please enter a valid email address
			</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input matInput type="password" placeholder="Password" formControlName="password" id="password" />
			<mat-error *ngIf="password?.errors?.['required']">
				Password is required
			</mat-error>
		</mat-form-field>
		<button mat-raised-button color="primary">Login with this email and password</button>
		<button mat-raised-button color="primary">Login with Google Popup</button>
		<button mat-raised-button color="primary">Create a new user</button>
		<div class="center margin-top">
			<button type="submit" mat-raised-button color="primary">Login</button>
		</div> -->
		<!-- <span class="center margin-top">New to our platform? <a class="sign-up-link" routerLink="">Sign up!</a></span> -->
	<!-- </form> -->
<!-- </div>

<app-footer></app-footer> -->