<div class="container shadow bg-info">
	<div class="row mt-5">
		<h5 class="text-center p-1 bg-dark text-light rounded border p-2">chelib</h5>
	</div><!-- <div class="d-flex container-fluid border-2 shadow justify-content-center align-items-center">
	<ul>
		<li *ngFor="let entity of entities">{{ entity.name }}</li>
	  </ul>
	</div> -->
	<div id="contenido"></div>
	<script>aparece();</script>
	<p>
		Firestore!
		<!-- {{ testDocValue$ | async | json }}
		{{ persistenceEnabled$ | async }} -->
	  </p>
<div class="d-flex container-fluid border-2 shadow justify-content-center align-items-center">
	<!-- <a routerLink="['/Login']" routerLinkActive="router-link-active"  type="button">Login</a> -->
	<!-- <a routerLink="['/Natbar']" routerLinkActive="router-link-active"  type="button">navbar</a> -->
</div></div>
