/* mat-card {
	margin-left: 20%;
	width: 600px;
	height: 400px;
	border: 3px solid red;
	align-items: center;
	justify-content: center;
	margin: 3%;
	padding: 5px;
	background-color: cornflowerblue;
} */
.tp-fontSize {
	font-size: large;
}
.tp-card {
	margin-left: 150px;
	max-width: 600px;
}
/* .tp-header-image {
	
} */
.btn-skyblue{
	background-color: rgb(78, 182, 18);
  }
  
  .imagen-fondo{
	background-color: rgb(1, 14, 17);
  }
  
  .mb-10{
	margin-bottom: 10em;
  } 