<app-navbar></app-navbar>
<div class="container-fluid imagen-fondo d-flex justify-content-center">
	<div class="row justify-content-center col-10">
		<form class="m-5 col-md-4 col-sm-10 bg-white p-3 rounded shadow" [formGroup]="form"
			(ngSubmit)="onLogin($event)">
			<h3 class="text-center text-info">MI PORTAFOLIO</h3>
			<div class="mb-3 mt-3">
				<label for="email" class="form-label">Correo</label>
				<input type="text" formControlName="email"
					[ngClass]="{'is-invalid': email?.errors && email?.touched, 'is-valid': !email?.errors && email?.touched}"
					class="form-control" id="email" aria-describedby="emailHelp">
				<div *ngIf="email?.errors && email?.touched">
					<p *ngIf="email?.hasError('required')" class="text-danger">
						El nombreUsuario es requerido.
					</p>
					<p *ngIf="email?.hasError('email')" class="text-danger">
						El formato del nombreUsuario debe ser válido.
					</p>
				</div>
			</div>
			<div class="mb-5">
				<label for="password" class="form-label">Contraseña</label>
				<input type="password" formControlName="password"
					[ngClass]="{'is-invalid': password?.errors && password?.touched, 'is-valid': !password?.errors && password?.touched}"
					class="form-control" id="password">
				<div *ngIf="password?.errors && password?.touched">
					<p *ngIf="password?.hasError('required')" class="text-danger">
						La contraseña es requerida.
					</p>
					<p *ngIf="password?.errors?.['minlength']" class="text-danger">
						La contraseña debe ser de 8 o más caracteres.
					</p>
				</div>
			</div>
			<!-- <button (ngSubmit)="onLogin($event)">Iniciar</button> -->
			<button (click)="loginWithGoogle()">Iniciar sesión con Google</button>
			<button (click)="loginWithGitHub()">Iniciar sesión con GitHub</button>
			<p class="forgot-password"><a href="#" >¿Olvidaste tu contraseña?</a></p><!-- (click)="forgotPassword()" -->
			<p class="delete-account"><a href="#" (click)="deleteAccount()">Darse de baja</a></p>
			<button type="submit" class="btn btn-skyblue btn-sm w-100 fw-bold text-light border border-light">INICIAR
				SESION</button>
		</form>
		<h1 class="text-center mt-2 text-white fw-bold"><br></h1>
	</div>
</div>
<app-footer></app-footer>