<!-- <mat-dialog-content class="mat-typography"> -->
  <div class="align-items-center">
    <h1 mat-dialog-title>Argentina Programa 4.0</h1>
    <h2 >Proyecto Final</h2>
    <h2>Luego de recorrer nueve modulos llegamos a construir una pagina web</h2>
    <h2>en Angular usando un frontend de firebase con typescrip</h2>
    <br>
    
    <h3>¡Lo hemos logrado!</h3>
  
<!-- </mat-dialog-content> -->
<!-- <mat-dialog-actions align="end"> -->
    <button mat-button (click)="cerrarDialog()">Cerrar</button>
  <!-- <button mat-button mat-dialog-close>Cancel</button> -->
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
<!-- </mat-dialog-actions> -->
</div>