<mat-dialog-content class="dialog-content">
	<h5 class="dialog-title">Argentina Programa 4.0</h5>
	<h6 class="dialog-subtitle">Proyecto Final</h6>
	<h6>Luego de recorrer nueve módulos llegamos a construir una pagina web</h6>
	<h6>en Angular usando un frontend de Firebase con TypeScript</h6>
	<br>
	<h6>¡Lo hemos logrado!</h6>
	<br>
	<h6>Editor Visual Code &copy; Microsoft.</h6>
	<h6>Firebase &copy; Google</h6>
	<h6>TypeScript &copy; Microsoft.</h6>
	<h6>Imágenes obtenidas de Google y Freepik.es</h6>
	<mat-dialog-actions align="center">
		<button mat-button color="primary" (click)="cerrarDialog()">Cerrar</button>
	</mat-dialog-actions>
</mat-dialog-content>